.option {
    border: solid black 2px;
    border-radius: 10px;
    padding: 2px;
}

.options {
    margin-bottom: auto;
}

.option:hover {
    border-color: gold;
    box-shadow: 5px 5px 5px 1px #311903;
}

.option .description {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-style: bold;
    font-size: 1.2em;
}

.option .test {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.option .consequences{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.option .consequences .reward {
    padding: 2px 5px;
    background-color: #4CAF50;
}

.option .consequences .penalty {
    align-items: center;
    display: flex;
    padding: 2px 5px;
    background-color: #f44336;
}